<!DOCTYPE html>
<html>
<head>
{% capture dest %}https://blog.kylemanna.com{{ page.url | remove: ".html" }}{% endcapture %}

<link rel="canonical" href="{{ dest }}"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="0;url={{ dest }}" />
<script>location='https://blog.kylemanna.com' + window.location.pathname</script>
</head>
<body>
    <h1>Redirecting...</h1>
      <a href="{{ dest }}">Click here if you are not redirected.<a>
</body>
</html>
